.thb-portfolio-slider {
	&.full_height {
		.portfolio-slide {
			height: 100vh;
			max-height: 100vh;
		}
	}
	
	&.thb-portfolio-slider-style1,
	&.thb-portfolio-slider-style2 {
		.portfolio-slide {
			display: flex;
	    flex-direction: row;
	    align-items: center;
	    height: 85vh;
	    .row.max_width {
				flex: 1;
			}
		}
		&.full_height {
			.portfolio-slide {
				height: 100vh;
				max-height: 100vh;
			}
		}
	}
	&.thb-portfolio-slider-style1 {
		h2 {
			font-weight: 400;
			margin-bottom: 30px;
			color: #fff;
			@include min-break($break-medium) {
				font-size: 48px;
			}
		}
		a {
			color: #fff;
		}
	}
	&.thb-portfolio-slider-style2 {
		color: #fff;
		h1 {
			color: #fff;
			line-height: 1.1;
			margin-bottom: 20px;
			@include min-break($break-xlarge) {
				font-size: 90px;
			}
		}
		a,
		p,
		.portfolio-attributes h6,
		.portfolio-attributes p {
			color: #fff;
		}
		.portfolio-attributes h6:after {
			background: #fff;
		}
		.portfolio-attributes {
			margin-bottom: 10px;
			p {
				margin-bottom: 30px;
				@include max-break($break-medium) {
					display: none;
				}
			}
		}
		
		
		.excerpt {
			padding-right: 10%;
			p {
				margin-bottom: 25px;
			}
		}
	}
	&.thb-portfolio-slider-style3 {
		position: relative;
		z-index: 20;
		
		.portfolio-slide {
			padding: 20px 0;
			
			.content-side {
				padding-right: 10%;
				padding-bottom: 40px;
				.thb-categories {
					font-size: 16px;
					font-weight: 500;
					color: $color2;
					margin-bottom: 40px;
					a {
						color: $color2;
					}
				}
				
				h2 {
					font-weight: 400;
					margin-bottom: 40px;
					@include min-break($break-medium) {
						font-size: 38px;
					}
				}
			}
			
		}
	}
	&.thb-portfolio-slider-style4 {
		margin: 0 -5px;
		
		.portfolio-slide {
			display: flex;
	    flex-direction: row;
	    align-items: center;
	    text-align: center;
	    padding: 0 5px;
	    .slide-bg {
	    	width: 100%;
				padding-bottom: 80%;
				position: relative;
				background: $black;
				@extend .transition;
				@include min-break($break-small) {
					padding-bottom: 70%;
				}
				@include min-break($break-medium) {
					padding-bottom: 50%;
				}
			}
			
			.cover-bg {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				z-index: 0;
				opacity: 0.6;
			}
			
			.row.max_width {
				flex: 1;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				z-index: 5;
			}
			h1 {
				@include max-break($break-small) {
					font-size: 20px;
					padding: 0 40px;
				}
				@include min-break($break-medium) {
					font-size: 42px;
				}
			}
			
			a {
				color: #fff;
			}
			p {
				margin-bottom: 0;
				padding: 0 10%;
				@include max-break($break-small) {
					display: none;
				}
			}
			.btn-text {
				margin-top: 25px;
				font-weight: 600;
				@include min-break($break-small) {
					margin-top: 50px;
				}
			}
		}
		&.full_height {
			.portfolio-slide {
				height: 100vh;
				max-height: 100vh;
				
				.slide-bg {
					height: 100%;
					padding: 0;
				}
			}
		}
	}
	.portfolio-slider-image {
		border-radius: 3px;
		margin-bottom: 50px;
		@include box-shadow(0 3px 30px rgba(0,0,0,0.25));
		
		@include min-break($break-small) {
			margin: 0;
		}
	}
	&:not(.center-arrows) {
		.slick-nav {
			position: absolute;
			left: 15px;
			bottom: 45px;
			z-index: 99;
			
			&.slick-next {
				left: 45px;
			}
		}
	}
}