/* Pricing Table */
.thb-pricing-table {
	.thb-pricing-column {
		display: flex;
		flex-direction: column;
		.pricing-container {
			background: #fff;
			display: flex;
			height: 100%;
			flex-direction: column;
			border-radius: 3px;
			border: 1px solid rgba($color2, 0.2);
			text-align: center;
			padding: 15px;
			
			@include min-break($break-small) {
				padding: 40px;	
			}
			img {
				display: block;
				border-radius: 3px;
				margin-bottom: 40px;
				flex-shrink: 0;
			}
			.thb_pricing_head {
				border-bottom: 1px solid rgba(0,0,0,0.07);
				
				h4 {
					font-size: 20px;
					font-weight: 400;	
					margin-bottom: 15px;
					line-height: 1;
				}
				h3 {
					font-size: 30px;	
					font-weight: 600;
					line-height: 1;
					margin-bottom: 25px;
				}
				.pricing_sub_title {
					font-size: 13px;
					margin-bottom: 39px;
				}
			}
			&.has-button {
				border-radius: 3px 3px 0 0;
				border-bottom: 0;
			}
			.pricing-description {
				padding-top: 40px;
				text-align: left;
				font-size: 14px;
				color: $black;
				
				p {
					font-size: inherit;
					color: inherit;
				}
			}
		}
		.btn {
			width: 100%;
		}
		&.highlight-true {
			.pricing-container {
				border-width: 3px;
				border-color: $color2;	
			}
		}
	}
	.btn {
		border-radius: 0 0 3px 3px;
	}
}