
.header {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    padding: 15px 0;
    user-select: none;
}

.fixed-header-on .header {
    position: fixed;
}

@media only screen and (min-width: 640px) {
    .header {
        padding:0;
    }
}

.header .row {
    flex: 1;
}

.header .row .columns {
    display: flex;
    align-items: center;
}

.header .mobile-toggle-holder {
    display: inline-flex;
}

.header.hide-header-items {
    border-color: transparent !important;
}

.header.hide-header-items .mobile-toggle-holder,
.header.hide-header-items .full-menu,
.header.hide-header-items .button,
.header.hide-header-items .socials,
.header.hide-header-items .thb-header-secondary,
.header.hide-header-items #quick_cart {
    opacity: 0 !important;
    pointer-events: none;
}

.header.hide-secondary-items .secondary-area {
    opacity: 0 !important;
    pointer-events: none;
}

.header.fixed {
    padding: 15px 0;
    background: #fff;
}

@media only screen and (min-width: 640px) {
    .header.fixed {
        padding: 0;
    }
}

.open-search .header.fixed {
    background: transparent !important;
}

.header.fixed.light-header {
    background:#22272c;
}

.header.fixed:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0;
}

.header.fixed:not(.headroom--unpinned).thb-fixed-shadow-style1 {
    opacity: 1;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.07), 0 1px 2px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.07), 0 1px 2px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.07), 0 1px 2px rgba(0, 0, 0, 0.15);
}

.header.fixed:not(.headroom--unpinned).thb-fixed-shadow-style2 {
    opacity: 1;
    -moz-box-shadow: 0 9px 38px rgba(0, 0, 0, 0.05), 0 5px 12px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 9px 38px rgba(0, 0, 0, 0.05), 0 5px 12px rgba(0, 0, 0, 0.1);
    box-shadow: 0 9px 38px rgba(0, 0, 0, 0.05), 0 5px 12px rgba(0, 0, 0, 0.1);
}

.header.fixed:not(.headroom--unpinned).thb-fixed-shadow-style3 {
    opacity: 1;
    -moz-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.1), 0 5px 22px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.1), 0 5px 22px rgba(0, 0, 0, 0.15);
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.1), 0 5px 22px rgba(0, 0, 0, 0.15);
}

.header.headroom--unpinned {
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
}

.header-style1-open .header.headroom--unpinned,
.open-search .header.headroom--unpinned {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.logolink {
    display: flex;
    position: relative;
}

.logolink .logoimg {
    max-height: 40px;
}

.logolink .logoimg.logo-light {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
}

.header.style1 .logo-holder {
    margin-right: 10%;
}

.header.style1 .mobile-toggle-holder {
    flex-direction: row-reverse;
}

.header.style1 .mobile-toggle-holder strong {
    margin-left: 30px;
    margin-right: 0;
}

.header.style1 .style1-holder {
    display: flex;
    flex: 1;
    justify-content: space-between;
}

.header.style1 .header_overlay_menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 80px 0 65px;
    background: #090909;
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
}

.header.style1 .header_overlay_menu .header_overlay_padding {
    padding-top: 40px;
}

.header-full-width-on .header.style1 .header_overlay_menu .header_overlay_padding .row {
    max-width: none;
}

.header.style1 .header_overlay_menu .logo-holder {
    visibility: hidden;
    margin-right: 10%;
}

.header.style1 .header_overlay_menu .header_overlay_menu_holder {
    flex: 1;
}

.header.style1 .header_overlay_menu .thb-secondary-menu-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    padding: 35px 0 0;
    position: relative;
    font-size: 14px;
}

.header.style1 .header_overlay_menu .thb-secondary-menu-container .thb-secondary-line {
    display: block;
    height: 1px;
    background: rgba(255, 255, 255, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transform-origin: 0 0;
    -moz-transform: scale(0, 1);
    -ms-transform: scale(0, 1);
    -webkit-transform: scale(0, 1);
    transform: scale(0, 1);
}

.header.style1 .header_overlay_menu .thb-secondary-menu-container .menu {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left;
}

.header.style1 .header_overlay_menu .thb-secondary-menu-container .menu li {
    display: inline-flex;
    margin-right: 20px;
}

.header.style1 .header_overlay_menu .thb-secondary-menu-container .menu li a:not(:hover) {
    color: rgba(255, 255, 255, 0.6);
}

.header.style1 .header_overlay_menu .thb-secondary-menu-container .thb-full-menu.socials a {
    padding: 0;
}

.header.style1 .header_overlay_menu .thb-secondary-menu-container .thb-full-menu.socials a:not(:hover) {
    color: rgba(255, 255, 255, 0.6);
}

.header.style2 .columns {
    justify-content: space-between;
}

@media only screen and (min-width: 1024px) {
    .header.style2 .mobile-toggle-holder {
        display: none;
    }
}

.header.style3 .columns {
    justify-content: space-between;
}

.header.style3 .columns>div:last-child {
    flex: 1;
    text-align: right;
}

.header.style3 #full-menu {
    margin-right: 30px;
}

@media only screen and (min-width: 1024px) {
    .header.style3 #full-menu {
        visibility: hidden;
    }
}

.header.style3 #full-menu .thb-full-menu>li {
    opacity: 0;
}

.header.style4 .columns {
    justify-content: space-between;
    position: relative;
}

.header.style4 #full-menu {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translate3d(-50%, -50%, 0);
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
}

.header.style4 .mobile-toggle-holder {
    display: inline-flex;
}

@media only screen and (min-width: 1024px) {
    .header.style4 .mobile-toggle-holder {
        display: none;
    }
}

.header.style5 .columns,
.header.center-logo .columns {
    justify-content: space-between;
    position: relative;
}

@media only screen and (min-width: 1024px) {
    .header.style5 .logo-holder,
    .header.center-logo .logo-holder {
        position: absolute;
        top: 50%;
        left: 50%;
        -moz-transform: translate3d(-50%, -50%, 0);
        -webkit-transform: translate3d(-50%, -50%, 0);
        transform: translate3d(-50%, -50%, 0);
    }
}

.header.style5 .mobile-toggle-holder,
.header.center-logo .mobile-toggle-holder {
    display: inline-flex;
}

@media only screen and (min-width: 1024px) {
    .header.style5 .mobile-toggle-holder,
    .header.center-logo .mobile-toggle-holder {
        display: none;
    }
}

.header.style6 .columns {
    justify-content: space-between;
    position: relative;
}

.header.style6 .logo-holder {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translate3d(-50%, -50%, 0);
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
}

.header.style6 .mobile-toggle-holder {
    display: inline-flex;
    flex-direction: row-reverse;
}

.header.style6 .mobile-toggle-holder strong {
    margin-left: 30px;
    margin-right: 0;
}

.header.style6 .mobile-toggle-holder.style2 .mobile-toggle span {
    left: 0;
    right: auto;
}

.header.style7 .style7-label {
    display: none;
}

@media only screen and (min-width: 640px) {
    .header.style7 .mobile-toggle-holder {
        display: none;
    }
}

.header.style7 .columns {
    justify-content: space-between;
}

@media only screen and (min-width: 640px) {
    .header.style7 .columns {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (min-width: 640px) {
    .header.style7 {
        left: 70px;
        width: auto;
        right: 0;
    }
}

.header.style8 {
    padding: 20px 0;
    align-items: center;
    justify-content: center;
}

.open-menu .header.style8 {
    background: #fff;
}

.header.style8 .mobile-toggle-holder strong {
    display: none;
}

@media only screen and (min-width: 640px) {
    .header.style8 {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 6vw;
    }
}

.header.style9 .columns {
    justify-content: space-between;
}

.header.style9 .columns div:last-child {
    text-align: right;
}

.header.style10 .small-12.columns {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media only screen and (min-width: 1024px) {
    .header.style10 .logo-holder.style10-logo {
        visibility: hidden;
        display: none;
    }
}

.header.style10 .full-menu {
    position: relative;
}

.header.style10 .thb-full-menu .logo-holder {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header.style10 .thb-full-menu .logo-holder .logolink {
    display: block;
}

.header.style10 .thb-full-menu>li>a {
    display: flex;
    align-items: center;
}

@media only screen and (min-width: 1024px) {
    .header.style10 .mobile-toggle-holder {
        display: none;
    }
}

.header-full-width-on .header.style1>.row,
.header-full-width-on .header.style2>.row,
.header-full-width-on .header.style3>.row,
.header-full-width-on .header.style4>.row,
.header-full-width-on .header.style5>.row,
.header-full-width-on .header.style6>.row,
.header-full-width-on .header.style9>.row,
.header-full-width-on .header.style10>.row {
    max-width: none;
}

.white-header .logoimg,
.header.light-header .logoimg {
    opacity: 0;
}

.white-header .logoimg.logo-light,
.header.light-header .logoimg.logo-light {
    opacity: 1;
}

.white-header .mobile-toggle span,
.header.light-header .mobile-toggle span,
.white-header .thb-full-menu.thb-underline>li>a:before,
.header.light-header .thb-full-menu.thb-underline>li>a:before,
.white-header .thb-full-menu.thb-line-through>li>a:before,
.header.light-header .thb-full-menu.thb-line-through>li>a:before {
    background: #fff;
}

.white-header .thb-full-menu>li>a:not(:hover),
.header.light-header .thb-full-menu>li>a:not(:hover),
.white-header .thb-full-menu.thb-underline>li>a:hover,
.header.light-header .thb-full-menu.thb-underline>li>a:hover,
.white-header .thb-full-menu.thb-line-marker>li>a:hover,
.header.light-header .thb-full-menu.thb-line-marker>li>a:hover,
.white-header .thb-full-menu.thb-line-through>li>a:hover,
.header.light-header .thb-full-menu.thb-line-through>li>a:hover {
    color: #fff;
}

.white-header .mobile-toggle-holder strong,
.header.light-header .mobile-toggle-holder strong,
.white-header #quick_cart,
.header.light-header #quick_cart {
    color: #fff;
}

.white-header .thb-search-holder svg,
.header.light-header .thb-search-holder svg {
    fill: #fff;
}

.white-header #quick_cart svg g,
.header.light-header #quick_cart svg g {
    stroke: #fff;
}

.thb-header-menu {
    display: inline-block;
    margin: 5px 0 0;
    padding: 0;
    list-style: none;
    line-height: 1;
    position: relative;
}

.thb-header-menu li>a {
    display: block;
    white-space: nowrap;
}

.thb-header-menu li>a:not(:hover) {
    color: rgba(255, 255, 255, 0.6);
}

.thb-header-menu li.menu-item-has-children {
    position: relative;
}

.thb-header-menu li .sub-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    left: 100%;
    top: 0;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    display: flex;
    align-items: center;
}

.thb-header-menu li .sub-menu a {
    margin-right: 20px;
}

.thb-header-menu>li {
    padding: 15px 0;
}

.thb-header-menu>li>a {
    font-size: 26px;
    min-width: 250px;
    display: flex;
    align-items: center;
}

.thb-header-menu>li.menu-item-has-children {
    padding-right: 30px;
}

.thb-header-menu>li.menu-item-has-children>a span {
    display: inline-flex;
    margin-left: 30px;
    position: relative;
    align-items: center;
}

.thb-header-menu>li.menu-item-has-children>a span:before {
    content: '';
    display: inline;
    width: 30px;
    height: 1px;
    background: #ee9982;
    opacity: 0;
    -moz-transform-origin: 0 0 50%;
    -ms-transform-origin: 0 0 50%;
    -webkit-transform-origin: 0 0 50%;
    transform-origin: 0 0 50%;
    -moz-transform: scale(0, 1) translateX(0px);
    -ms-transform: scale(0, 1) translateX(0px);
    -webkit-transform: scale(0, 1) translateX(0px);
    transform: scale(0, 1) translateX(0px);
}

.thb-header-menu>li.menu-item-has-children>a span:after {
    display: inline-flex;
    content: "\f105";
    font-family: FontAwesome;
    vertical-align: middle;
    font-size: 18px;
}

.thb-header-menu>li.menu-item-has-children:hover a span,
.thb-header-menu>li.menu-item-has-children.sfHover a span {
    -moz-transform: translateX(4px);
    -ms-transform: translateX(4px);
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
}

.thb-header-menu>li.menu-item-has-children:hover a span:before,
.thb-header-menu>li.menu-item-has-children.sfHover a span:before {
    opacity: 1;
    -moz-transform: scale(1, 1) translateX(5px);
    -ms-transform: scale(1, 1) translateX(5px);
    -webkit-transform: scale(1, 1) translateX(5px);
    transform: scale(1, 1) translateX(5px);
}

.full-menu {
    display: none;
    vertical-align: middle;
}

@media only screen and (min-width: 1024px) {
    .full-menu {
        display: inline-flex;
    }
}

.thb-full-menu {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 1;
}

.thb-full-menu.thb-language-switcher {
    margin-left: 20px;
}

@media only screen and (max-width: 1024px) {
    .thb-full-menu.thb-language-switcher {
        display: none;
    }
}

.thb-full-menu.thb-language-switcher>li>a {
    text-transform: capitalize;
}

.thb-full-menu.thb-standard>li.current-menu-item:not(.has-hash)>a {
    color: #ee9982;
}

.thb-full-menu.thb-underline>li>a {
    position: relative;
}

.thb-full-menu.thb-underline>li>a:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    top: calc(100% - 17px);
    height: 1px;
    background: #343434;
    -moz-transform-origin: right center;
    -ms-transform-origin: right center;
    -webkit-transform-origin: right center;
    transform-origin: right center;
    -moz-transform: scale(0, 1);
    -ms-transform: scale(0, 1);
    -webkit-transform: scale(0, 1);
    transform: scale(0, 1);
    -moz-transition: -moz-transform .25s cubic-bezier(0.25, 0.8, 0.25, 1);
    -o-transition: -o-transform .25s cubic-bezier(0.25, 0.8, 0.25, 1);
    -webkit-transition: -webkit-transform .25s cubic-bezier(0.25, 0.8, 0.25, 1);
    transition: transform .25s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.thb-full-menu.thb-underline>li>a:hover {
    color: #090909;
}

.thb-full-menu.thb-underline>li>a:hover:before {
    -moz-transform-origin: left center;
    -ms-transform-origin: left center;
    -webkit-transform-origin: left center;
    transform-origin: left center;
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
}

.thb-full-menu.thb-underline>li.current-menu-item>a {
    color: #090909;
}

.thb-full-menu.thb-underline>li.current-menu-item>a:before {
    -moz-transform-origin: left center;
    -ms-transform-origin: left center;
    -webkit-transform-origin: left center;
    transform-origin: left center;
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
}

.thb-full-menu.thb-line-through>li>a {
    position: relative;
}

.thb-full-menu.thb-line-through>li>a:before {
    content: '';
    display: block;
    position: absolute;
    left: -5px;
    width: calc(100% + 10px);
    top: calc(50% - 1px);
    height: 2px;
    background: #343434;
    -moz-transform-origin: right center;
    -ms-transform-origin: right center;
    -webkit-transform-origin: right center;
    transform-origin: right center;
    -moz-transform: scale(0, 1);
    -ms-transform: scale(0, 1);
    -webkit-transform: scale(0, 1);
    transform: scale(0, 1);
    -moz-transition: -moz-transform .25s cubic-bezier(0.25, 0.8, 0.25, 1);
    -o-transition: -o-transform .25s cubic-bezier(0.25, 0.8, 0.25, 1);
    -webkit-transition: -webkit-transform .25s cubic-bezier(0.25, 0.8, 0.25, 1);
    transition: transform .25s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.thb-full-menu.thb-line-through>li>a:hover {
    color: #090909;
}

.thb-full-menu.thb-line-through>li>a:hover:before {
    -moz-transform-origin: left center;
    -ms-transform-origin: left center;
    -webkit-transform-origin: left center;
    transform-origin: left center;
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
}

.thb-full-menu.thb-line-through>li.current-menu-item>a {
    color: #090909;
}

.thb-full-menu.thb-line-through>li.current-menu-item>a:before {
    -moz-transform-origin: left center;
    -ms-transform-origin: left center;
    -webkit-transform-origin: left center;
    transform-origin: left center;
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
}

.thb-full-menu.thb-line-marker>li>a {
    position: relative;
}

.thb-full-menu.thb-line-marker>li>a:before {
    content: '';
    display: block;
    position: absolute;
    left: -2px;
    width: calc(100% + 4px);
    top: 50%;
    height: 20%;
    background: #ee9982;
    z-index: -1;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -moz-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    -webkit-transform: scale(1, 0);
    transform: scale(1, 0);
    -moz-transition: -moz-transform .25s cubic-bezier(0.25, 0.8, 0.25, 1);
    -o-transition: -o-transform .25s cubic-bezier(0.25, 0.8, 0.25, 1);
    -webkit-transition: -webkit-transform .25s cubic-bezier(0.25, 0.8, 0.25, 1);
    transition: transform .25s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.thb-full-menu.thb-line-marker>li>a:hover {
    color: #090909;
}

.thb-full-menu.thb-line-marker>li>a:hover:before {
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
}

.thb-full-menu.thb-line-marker.current-menu-item>a {
    color: #090909;
}

.thb-full-menu.thb-line-marker.current-menu-item>a:before {
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
}

.thb-full-menu.socials {
    margin-left: 30px;
}

.thb-full-menu.socials li+li {
    margin-left: 10px;
}

.rtl .thb-full-menu.socials li+li {
    margin-left: 0;
    margin-right: 10px;
}

.thb-full-menu>li {
    display: inline-flex;
}

.thb-full-menu>li+li {
    margin-left: 30px;
}

.rtl .thb-full-menu>li+li {
    margin-left: 0;
    margin-right: 30px;
}

.thb-full-menu>li a:not(.logolink) {
    padding: 20px 0;
}

.thb-full-menu>li a:not(.logolink)[data-filter].active {
    color: #ee9982;
}

.thb-full-menu>li.logo-menu-item {
    padding: 0 35px;
}

.thb-full-menu li {
    margin: 0;
    white-space: nowrap;
}

.thb-full-menu li.menu-item-has-children {
    position: relative;
}

.thb-full-menu li.menu-item-has-children:hover {
    overflow: visible;
}

.thb-full-menu li.menu-item-has-children>a:after {
    display: inline-flex;
    content: "\f107";
    font-family: FontAwesome;
    margin-left: 10px;
    vertical-align: middle;
    font-size: 11px;
}

.rtl .thb-full-menu li.menu-item-has-children>a:after {
    margin-left: 0;
    margin-right: 10px;
}
.thb-full-menu li.fulllwidth {
    position: initial;
}

.thb-full-menu li.fulllwidth > .sub-menu {
    display: flex;
}
.thb-full-menu li.fulllwidth > .sub-menu .row li a {
    opacity: 1;
}
.thb-full-menu .sub-menu {
    padding: 30px 0;
    margin: 0;
    list-style: none;
    background: #090909;
    position: absolute;
    text-align: left;
    min-width: calc(100% + 60px);
    top: 100%;
    left: -30px;
    opacity: 0;
    visibility: hidden;
}

.thb-full-menu .sub-menu li {
    display: block;
    padding: 0 30px;
    margin-bottom: 15px;
    font-size: 13px;
    line-height: 1.1;
    overflow: hidden;
}

.thb-full-menu .sub-menu li:last-child {
    margin-bottom: 0;
}

.thb-full-menu .sub-menu li a {
    display: block;
    color: #fff;
    padding: 0;
    opacity: 0;
}

.thb-full-menu .sub-menu li a:hover {
    color: #bfbfbf;
}

.thb-full-menu .sub-menu li.menu-item-has-children {
    position: relative;
}

.thb-full-menu .sub-menu li.menu-item-has-children>a:after {
    content: "\f105";
}

.thb-full-menu .sub-menu li.menu-item-has-children:hover {
    overflow: visible;
}

.thb-full-menu .sub-menu li.menu-item-has-children.sfHover>a {
    color: #bfbfbf;
}

.thb-full-menu .sub-menu .sub-menu {
    top: -30px;
    left: 100%;
}

.secondary-area {
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
}

.secondary-area>div+div,
.secondary-area>ul+div,
.secondary-area>div+ul {
    margin-left: 20px;
}

@media only screen and (max-width: 1024px) {
    .secondary-area .thb-header-button,
    .secondary-area .thb-search-holder,
    .secondary-area .socials,
    .secondary-area .quick_cart,
    .secondary-area .thb-header-secondary {
        display: none;
    }
}

.thb-header-button {
    margin-left: 20px;
}

.thb-search-holder {
    display: inline-flex;
    cursor: pointer;
    position: relative;
    margin-left: 20px;
}

.thb-search-holder span {
    height: 1px;
    display: block;
    width: 16px;
    position: absolute;
    left: 0;
    top: 50%;
    background: #fff;
    -moz-transform-origin: center 50%;
    -ms-transform-origin: center 50%;
    -webkit-transform-origin: center 50%;
    transform-origin: center 50%;
}

.thb-search-holder span:nth-child(1) {
    -moz-transform: rotateZ(45deg) scale(0, 1);
    -ms-transform: rotateZ(45deg) scale(0, 1);
    -webkit-transform: rotateZ(45deg) scale(0, 1);
    transform: rotateZ(45deg) scale(0, 1);
}

.thb-search-holder span:nth-child(2) {
    -moz-transform: rotateZ(-45deg) scale(0, 1);
    -ms-transform: rotateZ(-45deg) scale(0, 1);
    -webkit-transform: rotateZ(-45deg) scale(0, 1);
    transform: rotateZ(-45deg) scale(0, 1);
}

.hide-header-items .thb-search-holder svg {
    opacity: 0;
}

.thb-search-popup {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: #fff;
    background: #090909;
    z-index: 90;
    padding: 40px 0;
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
}

@media only screen and (min-width: 640px) {
    .thb-search-popup {
        padding: 100px 0;
    }
}

.thb-search-popup .search-header-spacer {
    display: block;
    width: 100%;
    pointer-events: none;
}

.thb-search-popup .row {
    width: 100%;
}

.thb-search-popup .searchform {
    position: relative;
}

.thb-search-popup .searchform .searchform-bar {
    display: block;
    height: 1px;
    background: rgba(255, 255, 255, 0.8);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 40;
    transform-origin: 0 0;
    -moz-transform: scale(0, 1);
    -ms-transform: scale(0, 1);
    -webkit-transform: scale(0, 1);
    transform: scale(0, 1);
}

.thb-search-popup fieldset {
    opacity: 0;
    margin-top: 40px;
}

.thb-search-popup .s {
    font-size: 36px;
    font-weight: 400;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    padding-top: 40px;
    padding-bottom: 40px;
    color: #fff;
    background: transparent;
    padding-left: 0;
    border-radius: 0;
}

.thb-search-popup .s:-moz-placeholder {
    color: rgba(255, 255, 255, 0.4);
}

.thb-search-popup .s::-moz-placeholder {
    color: rgba(255, 255, 255, 0.4);
}

.thb-search-popup .s:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.4);
}

.thb-search-popup .s::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.4);
}

.thb-search-popup .s:focus,
.thb-search-popup .s:active {
    background: transparent;
    color: #fff;
}

.thb-search-popup .submit {
    text-align: right;
}

.thb-search-popup .submit svg {
    fill: #fff;
}

.header-style-8-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
    height: auto;
}

@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
    .header-style-8-content {
        height: 100%;
    }
}

.header-style-8-content>.row {
    margin: 35px -10px 0;
    padding: 0;
}

@media only screen and (min-width: 640px) {
    .header-style-8-content>.row {
        margin: 35px -15px 0;
    }
}

@media only screen and (min-width: 1024px) {
    .header-style-8-content>.row {
        margin: 35px -20px 0;
    }
}

.header-style-8-content .sub-menu {
    display: none;
}

.header-style-8-content .mobile-menu-bottom {
    flex: none !important;
}

#quick_cart {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    color: #343434;
    margin-left: 20px;
}

#quick_cart svg {
    display: block;
    height: 22px;
    width: 23px;
    overflow: visible;
    position: relative;
    bottom: 2px;
}

#quick_cart svg g {
    stroke-width: 4;
}

#quick_cart .float_count {
    font-size: 14px;
    margin-left: 4px;
    font-weight: 500;
}
