
#mobile-menu {
    position: fixed;
    top: 0;
    height: 100%;
    z-index: 110;
    padding: 50px;
    width: 320px;
    max-width: 100%;
    overflow: hidden;
    right: 0;
    background: #fff;
    will-change: transform;
}

#mobile-menu.style1 {
    -moz-transform: translate3d(100%, 0, 0);
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
}

.vif-header-style-style7 #mobile-menu {
    right: auto;
    left: 0;
    border-right: 1px solid #ededed;
    -moz-transform: translate3d(-100%, 0, 0);
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}

@media only screen and (min-width: 640px) {
    .vif-header-style-style7 #mobile-menu {
        -moz-transform: translate3d(calc(-100% + 70px), 0, 0);
        -webkit-transform: translate3d(calc(-100% + 70px), 0, 0);
        transform: translate3d(calc(-100% + 70px), 0, 0);
        width: 420px;
        padding-right: 100px;
    }
}

.vif-header-style-style7 #mobile-menu .vif-mobile-close {
    display: none;
}

.vif-header-style-style7 #mobile-menu .mobile-toggle-holder {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 70px;
    padding: 30px 15px;
    text-align: center;
}

.vif-header-style-style7 #mobile-menu .mobile-toggle-holder strong {
    display: none;
}

.vif-header-style-style7 #mobile-menu .style7-label {
    display: none;
    position: absolute;
    top: 50%;
    right: 15px;
    font-size: 14px;
    line-height: 1;
    font-weight: 500;
    text-transform: uppercase;
    color: #090909;
    -moz-transform: translateY(-50%) rotateZ(-90deg);
    -ms-transform: translateY(-50%) rotateZ(-90deg);
    -webkit-transform: translateY(-50%) rotateZ(-90deg);
    transform: translateY(-50%) rotateZ(-90deg);
}

@media only screen and (min-width: 640px) {
    .vif-header-style-style7 #mobile-menu .style7-label {
        display: block;
    }
}

.vif-header-style-style7 #mobile-menu.dark {
    border-right: 1px solid transparent;
}

.vif-header-style-style7 #mobile-menu.dark .style7-label {
    color: #fff;
}

.vif-header-style-style7 #mobile-menu.dark .mobile-toggle-holder .mobile-toggle span {
    background: #fff;
}

.vif-header-style-style8 #mobile-menu {
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;
    transform-origin: 0 0;
    -moz-transform: translate3d(0, 0, 0) scale(1, 0);
    -ms-transform: translate3d(0, 0, 0) scale(1, 0);
    -webkit-transform: translate3d(0, 0, 0) scale(1, 0);
    transform: translate3d(0, 0, 0) scale(1, 0);
}

@media only screen and (min-width: 640px) {
    .vif-header-style-style8 #mobile-menu {
        width: 94%;
        left: 6%;
    }
}

#mobile-menu .logolink {
    margin-bottom: 30px;
}

#mobile-menu .custom_scroll {
    display: flex;
    flex-direction: column;
}

#mobile-menu .vif-mobile-language-switcher {
    margin-bottom: 30px;
}

#mobile-menu .vif-mobile-language-switcher a {
    font-size: 14px;
    text-transform: capitalize;
    opacity: 0.6;
    position: relative;
    color: #343434;
    margin-right: 10px;
}

#mobile-menu .vif-mobile-language-switcher a:after {
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -2px;
    background: #343434;
    -moz-transition: -moz-transform .25s cubic-bezier(0.25, 0.8, 0.25, 1);
    -o-transition: -o-transform .25s cubic-bezier(0.25, 0.8, 0.25, 1);
    -webkit-transition: -webkit-transform .25s cubic-bezier(0.25, 0.8, 0.25, 1);
    transition: transform .25s cubic-bezier(0.25, 0.8, 0.25, 1);
    -moz-transform-origin: right center;
    -ms-transform-origin: right center;
    -webkit-transform-origin: right center;
    transform-origin: right center;
    -moz-transform: scale(0, 1);
    -ms-transform: scale(0, 1);
    -webkit-transform: scale(0, 1);
    transform: scale(0, 1);
}

#mobile-menu .vif-mobile-language-switcher a.active,
#mobile-menu .vif-mobile-language-switcher a:hover {
    opacity: 1;
}

#mobile-menu .vif-mobile-language-switcher a.active:after,
#mobile-menu .vif-mobile-language-switcher a:hover:after {
    -moz-transform-origin: left center;
    -ms-transform-origin: left center;
    -webkit-transform-origin: left center;
    transform-origin: left center;
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
}

#mobile-menu .vif-mobile-close {
    display: block;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 30px;
    right: 30px;
    z-index: 40;
    -moz-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
    -moz-transition-duration: 0s;
    -o-transition-duration: 0s;
    -webkit-transition-duration: 0s;
    transition-duration: 0s;
}

#mobile-menu .vif-mobile-close div {
    display: block;
    width: 16px;
    height: 16px;
    position: relative;
}

#mobile-menu .vif-mobile-close div span {
    height: 1px;
    display: block;
    width: 16px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -8px;
    background: #a2a2a2;
}

#mobile-menu .vif-mobile-close div span:before {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: #090909;
    -moz-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -moz-transform: scale(0, 1);
    -ms-transform: scale(0, 1);
    -webkit-transform: scale(0, 1);
    transform: scale(0, 1);
}

#mobile-menu .vif-mobile-close div span:nth-child(1) {
    -moz-transform: rotateZ(45deg);
    -ms-transform: rotateZ(45deg);
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}

#mobile-menu .vif-mobile-close div span:nth-child(2) {
    -moz-transform: rotateZ(-45deg);
    -ms-transform: rotateZ(-45deg);
    -webkit-transform: rotateZ(-45deg);
    transform: rotateZ(-45deg);
}

#mobile-menu .vif-mobile-close div span:nth-child(2):before {
    -moz-transition-delay: 0.1s;
    -o-transition-delay: 0.1s;
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

#mobile-menu .vif-mobile-close:hover div span:before {
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
}

#mobile-menu .mobile-menu-top {
    flex: 1;
}

#mobile-menu .menu-footer {
    font-size: 12px;
}

#mobile-menu .menu-footer p {
    font-size: inherit;
}

#mobile-menu .menu-footer a {
    color: rgba(9, 9, 9, 0.4);
}

#mobile-menu .menu-footer a:hover {
    color: #090909;
}

#mobile-menu .socials a {
    display: inline-flex;
    margin-right: 10px;
    color: rgba(9, 9, 9, 0.4);
}

#mobile-menu .socials a:hover {
    color: #090909;
}

#mobile-menu.dark {
    background: #090909;
}

#mobile-menu.dark .vif-mobile-close span {
    background: rgba(255, 255, 255, 0.6);
}

#mobile-menu.dark .vif-mobile-close span:before {
    background: #fff;
}

#mobile-menu.dark .vif-mobile-language-switcher a {
    color: #fff;
}

#mobile-menu.dark .vif-mobile-language-switcher a:after {
    background: #fff;
}

#mobile-menu.dark .vif-mobile-menu>li>a {
    color: #fff;
}

#mobile-menu.dark .vif-mobile-menu>li>a:hover {
    color: #ee9982;
}

#mobile-menu.dark .vif-mobile-menu>li.menu-item-has-children>a .vif-arrow div {
    background: rgba(255, 255, 255, 0.6);
}

#mobile-menu.dark .sub-menu a {
    color: rgba(255, 255, 255, 0.75);
}

#mobile-menu.dark .sub-menu a:hover {
    color: #ee9982;
}

#mobile-menu.dark .vif-secondary-bar {
    background: rgba(255, 255, 255, 0.7);
}

#mobile-menu.dark .vif-secondary-menu a {
    color: rgba(255, 255, 255, 0.6);
}

#mobile-menu.dark .vif-secondary-menu a:hover {
    color: #ee9982;
}

#mobile-menu.dark .menu-footer a {
    color: #fff;
}

#mobile-menu.dark .menu-footer {
    color: rgba(255, 255, 255, 0.75);
}

#mobile-menu.dark .socials a {
    color: rgba(255, 255, 255, 0.4);
}

#mobile-menu.dark .socials a:hover {
    color: #fff;
}

#mobile-menu.style2 {
    display: none;
    visibility: hidden;
    width: 100%;
    opacity: 0;
    padding: 10vh 30px;
    text-align: center;
    -moz-transform: scale(.95, .95);
    -ms-transform: scale(.95, .95);
    -webkit-transform: scale(.95, .95);
    transform: scale(.95, .95);
}

#mobile-menu.style2 .custom_scroll {
    flex: 1;
}

#mobile-menu.style2 .mobile-menu-top {
    display: flex;
    justify-content: center;
    align-items: center;
}

#mobile-menu.style2 .vif-mobile-menu>li.menu-item-has-children>a {
    padding-left: 28px;
}

#mobile-menu.style2 .vif-mobile-menu>li>a {
    justify-content: center;
}

#mobile-menu.style2 .vif-mobile-menu>li .sub-menu {
    margin-left: 0;
}

#mobile-menu.style2 .vif-secondary-menu li {
    display: block;
}

@media only screen and (min-width: 640px) {
    #mobile-menu.style2 .vif-secondary-menu li {
        display: inline-block;
        margin: 0 15px;
    }
}

.left-align-mobile-menu,
.vif-header-style-style6 #mobile-menu {
    right: auto;
    left: 0;
    -moz-transform: translate3d(-100%, 0, 0);
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}

.vif-mobile-menu {
    line-height: 1;
    margin: 0 0 40px;
    padding: 0;
    list-style: none;
}

.vif-mobile-menu>li>a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-transform: none;
    position: relative;
    font-size: 20px;
    padding: 13px 0;
}

.vif-mobile-menu>li>a:not(:hover) {
    color: #565656;
}

.vif-mobile-menu>li.menu-item-has-children>a .vif-arrow {
    display: inline-flex;
    margin-left: 15px;
    position: relative;
    height: 15px;
    width: 13px;
    padding: 5px 2px;
}

.vif-mobile-menu>li.menu-item-has-children>a .vif-arrow div {
    height: 1px;
    display: block;
    width: 6px;
    position: absolute;
    left: 2px;
    top: 7px;
    background: #565656;
}

.vif-mobile-menu>li.menu-item-has-children>a .vif-arrow div:nth-child(1) {
    -moz-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -moz-transform: rotateZ(35deg);
    -ms-transform: rotateZ(35deg);
    -webkit-transform: rotateZ(35deg);
    transform: rotateZ(35deg);
}

.vif-mobile-menu>li.menu-item-has-children>a .vif-arrow div:nth-child(2) {
    left: auto;
    right: 2px;
    -moz-transform-origin: 100% 0%;
    -ms-transform-origin: 100% 0%;
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    -moz-transform: rotateZ(-35deg);
    -ms-transform: rotateZ(-35deg);
    -webkit-transform: rotateZ(-35deg);
    transform: rotateZ(-35deg);
}

.vif-mobile-menu>li.menu-item-has-children>a:hover .vif-arrow div {
    background: #ee9982;
}

.vif-mobile-menu .sub-menu {
    display: none;
    font-size: 14px;
    margin-left: 25px;
    list-style: none;
}

.vif-mobile-menu .sub-menu a {
    display: block;
    padding: 8px 0;
}

.vif-mobile-menu .sub-menu a:not(:hover) {
    color: #3c3c3c;
}

.vif-secondary-bar {
    content: '';
    display: block;
    height: 1px;
    background: #090909;
    width: 100%;
    transform-origin: 0 0;
    -moz-transform: scale(0, 1);
    -ms-transform: scale(0, 1);
    -webkit-transform: scale(0, 1);
    transform: scale(0, 1);
}

.vif-secondary-menu {
    padding-top: 40px;
    list-style: none;
    position: relative;
}

.vif-secondary-menu a {
    display: block;
    font-size: 14px;
    line-height: 1;
    padding: 10px 0;
    color: rgba(9, 9, 9, 0.6);
}

.vif-secondary-menu a:hover {
    color: #ee9982;
}

.mobile-toggle-holder {
    cursor: pointer;
    align-items: center;
}

.mobile-toggle-holder .mobile-toggle {
    display: inline-flex;
    width: 16px;
    height: 12px;
    align-items: center;
    transition: none;
    vertical-align: middle;
    position: relative;
}

.mobile-toggle-holder .mobile-toggle span {
    display: block;
    position: absolute;
    width: 16px;
    height: 1px;
    background: #090909;
    content: " ";
    left: 0;
}

.mobile-toggle-holder .mobile-toggle span:nth-child(1) {
    top: 0px;
}

.mobile-toggle-holder .mobile-toggle span:nth-child(2) {
    top: 5px;
}

.mobile-toggle-holder .mobile-toggle span:nth-child(3) {
    top: 10px;
}

.mobile-toggle-holder strong {
    display: inline-flex;
    position: relative;
    overflow: hidden;
    font-size: 14px;
    font-weight: 400;
    margin-right: 15px;
    line-height: 1;
}

.mobile-toggle-holder strong .close-label {
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 100%;
    height: 100%;
}

.mobile-toggle-holder.style1 .mobile-toggle>span:nth-child(1) {
    transform-origin: 0 0;
}

.mobile-toggle-holder.style1 .mobile-toggle>span:nth-child(2) {
    -moz-transition: width .25s cubic-bezier(0.25, 0.8, 0.25, 1);
    -o-transition: width .25s cubic-bezier(0.25, 0.8, 0.25, 1);
    -webkit-transition: width .25s cubic-bezier(0.25, 0.8, 0.25, 1);
    transition: width .25s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.mobile-toggle-holder.style1 .mobile-toggle>span:nth-child(3) {
    transform-origin: 0 100%;
}

.mobile-toggle-holder.style1:hover .mobile-toggle>span:nth-child(2) {
    width: 200%;
}

.mobile-toggle-holder.style2 .mobile-toggle {
    width: 26px;
    height: 14px;
}

.mobile-toggle-holder.style2 .mobile-toggle span {
    width: 26px;
    height: 2px;
    left: auto;
    right: 0;
}

.mobile-toggle-holder.style2 .mobile-toggle span:nth-child(1) {
    top: 0px;
    transform-origin: 0 0;
}

.mobile-toggle-holder.style2 .mobile-toggle span:nth-child(2) {
    top: 6px;
    width: 21px;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

.mobile-toggle-holder.style2 .mobile-toggle span:nth-child(3) {
    top: 12px;
    width: 17px;
    transform-origin: 0 100%;
    -moz-transition-delay: 0.05s;
    -o-transition-delay: 0.05s;
    -webkit-transition-delay: 0.05s;
    transition-delay: 0.05s;
}

.mobile-toggle-holder.style2:hover .mobile-toggle>span {
    width: 26px;
}

.mobile-toggle-holder.style2:hover .mobile-toggle>span:nth-child(2) {
    -moz-transition-delay: 0.05s;
    -o-transition-delay: 0.05s;
    -webkit-transition-delay: 0.05s;
    transition-delay: 0.05s;
}

.mobile-toggle-holder.style2:hover .mobile-toggle>span:nth-child(3) {
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

.mobile-toggle-holder.style2.active .mobile-toggle>span {
    width: 26px;
    left: 0;
    right: auto;
    -moz-transition-duration: 0s;
    -o-transition-duration: 0s;
    -webkit-transition-duration: 0s;
    transition-duration: 0s;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}
