.widget {
    color: #979797;
    margin-bottom: 35px;
    font-size: 14px;
}

.widget p {
    font-size: inherit;
}

.widget .screen-reader-text {
    display: none;
}

.widget>h6 {
    font-size: 20px;
    font-weight: 400;
    color: #0a0a0a;
    margin-bottom: 25px;
    text-transform: none;
    line-height: 1;
    letter-spacing: normal;
    position: relative;
    display: block;
    margin-top: 0;
    -moz-transition: all .3s linear;
    -o-transition: all .3s linear;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
}

.widget>h6.active span:after {
    display: block;
    content: "";
    top: 1px;
    border: 4px solid transparent;
    border-top-color: #0a0a0a;
}

.widget>h6 span {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 11px;
    right: 0;
    top: 50%;
    margin-top: -15px;
}

.widget>h6 span:after {
    display: block;
    width: 8px;
    height: 8px;
    content: "";
    top: -3px;
    border: 4px solid transparent;
    border-bottom-color: #0a0a0a;
    position: relative;
}

.rtl .widget>h6 span {
    right: auto;
    left: 0;
}

.widget abbr[title] {
    margin-left: 10px;
}

.widget p {
    font-size: 13px;
}

.widget img {
    border-radius: 3px;
}

.widget ul li {
    margin-bottom: 10px;
}

.widget ul li a {
    color: #343434;
}

.widget ul li:first-child {
    padding-top: 0;
}

.widget ul li:last-child {
    border-bottom: 0;
    padding-bottom: 0;
}

.widget.widget_nav_menu .menu .sub-menu {
    display: none;
}

.widget.widget_categories .children,
.widget.widget_pages .children {
    margin-top: 10px;
}

@media only screen and (min-width: 640px) {
    .widget.widget_categories .children,
    .widget.widget_pages .children {
        margin-left: 10px;
    }
}

.widget.widget_recent_comments a:before {
    display: none;
}

.widget.widget_recent_entries .post-date {
    display: block;
    font-size: 12px;
    margin-top: 5px;
}

.widget.widget_calendar table {
    background: transparent;
    border: 0;
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.widget.widget_calendar table thead,
.widget.widget_calendar table tbody,
.widget.widget_calendar table tfoot {
    border: 1px solid rgba(0, 0, 0, 0.07);
}

.dark .widget.widget_calendar table thead,
.dark .widget.widget_calendar table tbody,
.dark .widget.widget_calendar table tfoot {
    border-color: rgba(255, 255, 255, 0.1);
}

.widget.widget_calendar table thead {
    background: transparent;
    font-size: 12px;
}

.widget.widget_calendar table thead th {
    padding: 13px 0;
    color: #303030;
    text-align: center;
    font-weight: 800;
}

.dark .widget.widget_calendar table thead th {
    color: #fff;
}

.widget.widget_calendar table tbody {
    background: transparent;
}

.widget.widget_calendar table tbody tr:nth-child(even) {
    background: rgba(0, 0, 0, 0.02);
}

.widget.widget_calendar table tbody td {
    font-size: 12px;
    color: #686868;
    text-align: center;
    padding: 9px 0;
}

.dark .widget.widget_calendar table tbody td {
    color: #fff;
}

.widget.widget_calendar table tfoot {
    background: transparent;
    margin-top: 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.07);
}

.widget.widget_calendar table tfoot tr td {
    padding: 12px 14px;
    font-size: 12px;
}

.widget.widget_calendar table tfoot tr td a {
    color: #737373;
    text-transform: uppercase;
    font-weight: 500;
}

.widget.widget_calendar table tfoot tr #next {
    text-align: right;
}

.widget.widget_calendar table caption {
    color: #303030;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 400;
    padding: 15px 0;
}

.dark .widget.widget_calendar table caption {
    color: #fff;
}

.widget.widget_mc4wp_form_widget .fieldset {
    display: flex;
}

.widget.widget_mc4wp_form_widget p {
    margin-bottom: 25px;
}

.widget.widget_mc4wp_form_widget .thb_single_email {
    display: inline-flex;
    border-radius: 3px 0 0 3px;
    flex: 1;
    margin: 0;
    border-right-width: 0;
}

.widget.widget_mc4wp_form_widget .thb_single_email:not(:focus) {
    border-color: rgba(0, 0, 0, 0.17);
}

.widget.widget_mc4wp_form_widget .thb_single_email+input[type="submit"] {
    display: inline-flex;
    border-radius: 0 3px 3px 0;
    padding: 0 25px
;
}

.widget.widget_latestimages li {
    margin-bottom: 20px;
}

.widget.widget_thb_twitterwidget .thb_tweet {
    margin-bottom: 20px;
}

.widget.widget_thb_twitterwidget .thb_tweet .thb_tweet_time {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 500;
}

.light .widget.widget_thb_twitterwidget .thb_tweet .thb_tweet_time {
    color: #343434;
}

.widget.widget_thb_twitterwidget p {
    font-size: 14px;
    margin-bottom: 5px;
}

.widget.widget_thb_twitterwidget p a {
    font-weight: 500;
}

.light .widget.widget_thb_twitterwidget p a {
    color: #343434;
}

.widget.widget_search .screen-reader-text {
    display: none;
}

.widget.widget_search input[type="text"] {
    width: 100%;
}

.widget.woocommerce {
    height: auto;
    border: 0;
}

.widget.widget_layered_nav li,
.widget.widget_layered_nav_filters li,
.widget.widget_product_categories li {
    padding-left: 20px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.widget.widget_layered_nav li:before,
.widget.widget_layered_nav_filters li:before,
.widget.widget_product_categories li:before {
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -5px;
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    border: 1px solid #d2d2d2;
    color: #fff;
}

.widget.widget_layered_nav li:hover:before,
.widget.widget_layered_nav_filters li:hover:before,
.widget.widget_product_categories li:hover:before {
    border-color: #343434;
}

.widget.widget_layered_nav li .count,
.widget.widget_layered_nav_filters li .count,
.widget.widget_product_categories li .count {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 20px;
    border-radius: 3px;
    background: #f3f3f3;
    color: #343434;
    font-size: 12px;
    font-weight: 500;
}

.widget.widget_layered_nav li.chosen:before,
.widget.widget_layered_nav li.current-cat:before,
.widget.widget_layered_nav_filters li.chosen:before,
.widget.widget_layered_nav_filters li.current-cat:before,
.widget.widget_product_categories li.chosen:before,
.widget.widget_product_categories li.current-cat:before {
    border-color: #343434;
    background: #343434;
}

.widget.widget_layered_nav li.chosen:hover:before,
.widget.widget_layered_nav li.current-cat:hover:before,
.widget.widget_layered_nav_filters li.chosen:hover:before,
.widget.widget_layered_nav_filters li.current-cat:hover:before,
.widget.widget_product_categories li.chosen:hover:before,
.widget.widget_product_categories li.current-cat:hover:before {
    background-image: url("../img/svg/x-white.svg");
}

.widget.widget_layered_nav li.chosen .count,
.widget.widget_layered_nav li.current-cat .count,
.widget.widget_layered_nav_filters li.chosen .count,
.widget.widget_layered_nav_filters li.current-cat .count,
.widget.widget_product_categories li.chosen .count,
.widget.widget_product_categories li.current-cat .count {
    background: #343434;
    color: #fff;
}

.widget.widget_product_categories li:before {
    border-radius: 0;
}

.widget.widget_shopping_cart .product_list_widget li {
    padding-right: 25px;
    margin-bottom: 30px;
}

.widget.widget_shopping_cart .product_list_widget li .quantity {
    margin-top: 10px;
    display: block;
}

.widget.widget_shopping_cart .product_list_widget li .variation {
    font-size: 14px;
    color: #343434;
    margin-top: 10px;
    margin-bottom: 0;
}

.widget.widget_shopping_cart .product_list_widget li .variation dt,
.widget.widget_shopping_cart .product_list_widget li .variation dd {
    display: inline-block;
    margin-bottom: 5px;
}

.widget.widget_shopping_cart .product_list_widget li .variation dt p,
.widget.widget_shopping_cart .product_list_widget li .variation dd p {
    margin-bottom: 0;
}

.widget.widget_price_filter .price_slider_wrapper {
    padding-top: 5px;
}

.widget.widget_price_filter .price_slider {
    height: 5px;
    background: #eaeaea;
    position: relative;
    margin-bottom: 25px;
    margin-right: 15px;
}

.widget.widget_price_filter .price_slider .ui-slider-range {
    height: 5px;
    background: #343434;
    position: absolute;
}

.widget.widget_price_filter .price_slider .ui-slider-handle {
    display: block;
    outline: none;
    position: absolute;
    top: -5px;
    background-size: 14px 19px;
    width: 14px;
    height: 14px;
    border-radius: 7px;
    border: 3px solid #343434;
    background: #fff;
    -moz-transition-duration: 0s;
    -o-transition-duration: 0s;
    -webkit-transition-duration: 0s;
    transition-duration: 0s;
}

.widget.widget_price_filter .price_slider_amount {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 500;
    color: #343434;
}

.widget.widget_price_filter .price_slider_amount .clear {
    display: none;
}

.widget.widget_price_filter .price_slider_amount .button {
    font-size: 14px;
    font-weight: 500;
    color: #343434 !important;
    background: none !important;
    height: auto !important;
    border: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
}

.widget.widget_product_search #s {
    float: left;
}

.product_list_widget {
    list-style: none;
    margin: 0;
}

.product_list_widget .remove {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14px;
    height: 14px;
    position: absolute;
    top: 0;
    right: 0;
}

.product_list_widget li {
    position: relative;
    margin-bottom: 30px;
}

.product_list_widget li.empty {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    color: #343434;
    margin: 30px 0;
}

.product_list_widget a {
    display: block;
    font-weight: 400;
    color: #343434;
}

.product_list_widget a:before {
    display: none;
}

.product_list_widget a .wp-post-image {
    max-width: 75px;
    margin-right: 20px;
    float: left;
}

.product_list_widget a .product-title {
    display: block;
    margin-bottom: 10px;
}

.product_list_widget .woocommerce-Price-amount {
    color: #848485;
    font-size: 14px;
}

.product_list_widget .quantity {
    font-size: 14px;
    color: #949494;
}
